{% extends 'allianceauth/base.html' %} {% load static %}
{% block page_title%}Contributions!{% endblock %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/invoices-style.css' %}" />

{% endblock %} {% block content %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<br />

<div id="app">
    <div class="text-center">
        <div class="text-center spinner-size lds-ripple" style="margin-bottom: 0px;"><div></div><div></div></div>
        <h5>Loading....</h5>
    </div>
</div>{% endblock %} {% block extra_javascript %}
<!-- Load React. -->
<script src="{% static js_import %}"></script>

{% endblock %}
